<!DOCTYPE html>
<html>
    <%- include('partials/head')  %>
    <body>
        <%- include('partials/header') %>
        <main>
            <h2>Message Board</h2>
            <% if (!currentUser) {%>
                <p><span><a href="/user/logIn">Login</a></span> or <span><a href="/user/signUp">Signup</a></span> to see more info!</p>
            <%}%>
            <div>
                <% messages.forEach((msg) => {%>
                    <div>
                        <p><%= msg.text %></p>
                        <p><%= msg.displayTime%></p>
                        <% if (currentUser) {%>
                            <p><%= msg.username %></p>
                        <%} %>
                        
                    </div>
                <%}) %>
            </div>
            <% if (currentUser) { %>
                <form action="/board/new" method="POST">
                    <div>
                        <label for="text">Enter your message: </label>
                        <input name="text" id="text">
                    </div>
                    <button type="submit">Submit</button>
                </form>

           <% } %>
            
        </main>
    </body>
</html>